<html ng-app="autoCompeteApp">
    <head>
        <!------ CSS imports --------->
        <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../autoComplete/autoComplete.css">
        <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="../assets/js/angular.min.js"></script>
        <script type="text/javascript" src="../assets/js/angular-route.min.js"></script>
        <script type="text/javascript" src="../assets/js/ui-bootstrap-tpls-2.1.4.js"></script>
        <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>      
        <script type="text/javascript" src="../assets/js/ui-bootstrap-tpls-2.1.4.js"></script>
        
    </head>
    <body ng-controller="autoCompleteController">
        <div class="row searchRow">
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                    <h3>What Place are you looking for?</h3>
                    <input type="text" name="customerAddress" class="form-control searchInput" ng-model="selectedCountry" uib-typeahead="address for address in searchCountries($viewValue)" typeahead-editable="true" ng-required="true">
                    <button class="btn searchButton">Search</button>
            </div>
        </div>
        
        <!--------- script imports -------->
        <script type="text/javascript" src="../autoComplete/autoCompleteController.js"></script>
    </body>
</html>
