.searchRow{
    position: relative;
    top:5%;
    width: 100%;
}

.searchButton {
    margin-top: 3%;
    border-radius:15px;
    width:115px;
    height:40px;
    background-color: #265c8eab;
    color:#fff;
    border-color: #265c8ea6;
    opacity:0.8;
}

.searchButton:hover {
    background-color: #265c8eab;
    color:#fff;
    border-color: #265c8ea6;
    opacity:1;
    transform: scale(1.2);
    transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; 
}

.searchInput{
    border-radius:15px;
}

.bannerSpace {
    height: 300px;
    border: 1px solid;
    float: left;
    width: 60%;
}

.imageDiv {
    float:right;
    width: 35%;
}

[uib-typeahead-popup].dropdown-menu {
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    position: unset;
}

@media screen and (min-width: 481px) and (max-width:770px) {
    .imageDiv {
        width: 100%;
        text-align: center;
    }
    
    .searchAutoComplete{
        width:100%;
    }

    .bannerSpace{
        width:90%;
        margin-top:3%;
        position: relative;
        left: 5%;
    }

    .buttonDiv {
        width: 100%;
        text-align: center;
    }

    .row{
        margin-right: 0;
        margin-left: 0;
    }

    .searchHeader{
        margin-left: 2%;
    }
}

@media screen and (max-width: 480px) {
    .imageDiv {
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
    }

    .searchHeader{
        font-size:16px;
    }

    .buttonDiv {
        width: 100%;
        text-align: center;
    }

    .row{
        margin-right: 0;
        margin-left: 0;
    }

    .searchHeader{
        margin-left: 2%;
    }

    [class*=' col-'] {
        padding-right: 0;
        padding-left: 0;
    }
}